.gallery {
  padding: 20px;
  padding-left: 0;
}

.gallery ul {
  display: flex;
  flex-direction: row;
}

.gallery ul li {
  margin-left: 25px;
}

.gallery ul li:first-child{
  margin-left: 0;
}

.gallery ul li a img {
  border: 6px solid #fff;
  border-radius: 15px;
}

@media screen and (max-width: 820px) {
  .gallery ul li {
    width: 10vw;
    margin-left: 0;
  }

  .gallery ul {
    flex-direction: column;
  }

  .gallery ul li a img {
    width: 300px;
  }
  
}